*{
    margin: 0;
    padding: 0;
    cursor: pointer;
}
h1{
    text-align: center;
    margin-top: 5%;
}
h2{
    text-align: center;
    margin-top: 30px;
}

#grey{
    background-color: grey;
    padding: 60px;
    border: 2px solid black;
}
#white{
    background-color: white;
    padding: 60px;
    border: 2px solid black;

}
#blue{
    background-color: blue;
    padding: 60px;
    border: 2px solid black;
    
}
#yellow{
    background-color: yellow;
    padding: 60px;
    border: 2px solid black;

}

.btn{
 display: flex;   
 flex-wrap: wrap;
 gap: 30px;
 justify-content: center;
 margin-top: 50px;
}